* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background-image: url(../img/mortalkombat.jpg);
  background-size: cover;
}

.heading {
  color: white;
  font-size: 80px;
  margin-left: 5%;
}

#leaderboard-box {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr 4fr 2fr;
  grid-template-rows: 1fr 1fr;
}

.heading-2 {
  color: white;
  grid-column: 2;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.recent-scores {
  font-size: 30px;
}

.refresh {
  font-size: 16px;
  padding: 8px 20px;
  border: 2px solid black;
  width: 40%;
}

.refresh:hover {
  background-color: #c5aa50;
}

#leaderboard {
  display: flex;
  flex-direction: column;
  grid-column: 2;
  grid-row: 2;

  /* border: 2px solid black; */
  padding-left: 5px;
}

.score-heading {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 4;
  grid-row: 1;
}

.add-score {
  color: white;
  font-size: 30px;
}

.information {
  display: flex;
  flex-direction: column;
  grid-column: 4;
  grid-row: 2;
  gap: 1.5rem;
}

#name {
  border: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
}

#score {
  border: 2px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 2px;
}

.submit-button {
  display: flex;
  justify-content: flex-end;
}

.submit {
  font-size: 16px;
  padding: 8px 20px;
  border: 2px solid black;
  width: 40%;
}

.submit:hover {
  background-color: #c5aa50;
}

.score-list {
  list-style: none;
}
